.carousel-content {
    box-shadow: 0 4px 20px black;
    background-color: aliceblue;
    padding: 0.5rem 1rem;
    padding-bottom: 1rem;
    margin: 0 2rem;
}

.carousel-content h3 {
    padding-top: 10px;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 10px;
    margin-top: 10px;
}

.carousel-content .nav-link {
    margin-left: 10px;
    margin-top: 20px;
}

.carousel-content-below {
    display: none;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .carousel-content {
        display: none;
    }

    .carousel-content-below {
        display: block;
        margin: 0 auto;
    }

    .carousel-content-below h3 {
        padding-top: 10px;
        font-weight: bold;
        font-family: sans-serif;
        margin-left: 10px;
        margin-top: 10px;
    }

    .carousel-content-below .nav-link {
        margin-left: 10px;
        margin-top: 20px;
        padding-bottom: 1rem;
    }
}