.course-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    gap: 4rem;
}

.course-card-img {
    height: 250px;
    min-width: 22rem;
}

.course-card {
    max-width: 22rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.25rem;
    color: #333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card-text {
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.modal-dialog {
    max-width: 500px;
}

.modal-content {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.modal-title {
    font-size: 1.5rem;
    color: #333;
}

.modal-body {
    font-size: 1.1rem;
}

.modal-footer {
    justify-content: space-between;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}